/* TODO: Write something here */
#root{
    background: #d6d1d4;
    min-height: 100vh;
}

.card, .ui.pointing.menu {
    background: #41cc41;
    
}

.ui.pointing.menu a.item {
    color: white;
    font-weight: 600;
    font-size: larger;
}

.container.my-1 {
    width: 70%
}

.btn.form-inline.btn-primary.mb-2 {
    background: #41cc41;
    border: unset;
}

.btn.btn-primary.mb-2 {
    background: #41cc41;
    border: unset;
}